<html>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<h1 class="mt-4"> TweetCreep Dashboard</h1>
<p class="lead mb-3">Welcome back!</p>


 <style>
body {
  background-image: url('https://image.freepik.com/free-vector/blue-tones-blurred-background_1107-128.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}
</style> 


<body>
<div class="container">
    <div class="row">
        <div class="col-sm-2 col-md-2">
            <img src="https://www.pngkit.com/png/detail/625-6252897_software-engineer-clipart-programmer-computer-software-software-engineer.png"
            alt="" class="img-rounded img-responsive" />
        </div>
        <div class="col-sm-4 col-md-4">
            <blockquote>
                <p><%= user.name %></p> <small><cite title="Source Title">Galway, Ireland <i class="glyphicon glyphicon-map-marker"></i></cite></small>
            </blockquote>
            <p> <i class="glyphicon glyphicon-envelope"></i> <%= user.email %>
                <br
                /> <i class="glyphicon glyphicon-globe"></i> Galway, Ireland
                <br /> <i class="glyphicon glyphicon-gift"></i>19/05/2020</p>

        </div>
    </div>
</div>

<br>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
<a href="/users/welcome" class="btn btn-secondary">Home</a>
<br/>
<br>
<br>
<br>
<p>Welcome to your personal dashboard, to get started on analysing your own personality, please use the console below.</p>
<br>
<p>How to Use:</p>
<p>Press Stop, then Run.</p>
<p> Enter your twitter id e.g BernieSander without the @. After that enter how many Tweets you would like to analyse and hit enter!</p>
<br>
<br>
<br>
<iframe height="400px" width="100%" src="https://repl.it/repls/RosyRundownBacktick?lite=true&outputonly=1" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
</body>
</html>